@font-face {
  font-family: 'Kollektif';
  src: url('font/Kollektif.ttf');
}
* {
	box-sizing: border-box;
}
html, body {
	width:99vw;
	height:99vh;
	margin: 0;
}
body {
	font-family: 'Roboto', Helvetica, sans-serif;
	display: flex;
  	flex-direction: column;
}
.wrapper {
	flex: 1 0 auto;
}
.footer {
	flex-shrink: 0;
}
.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.col {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.col > * {
	flex: 1 100%;
}
/* .row > * {
	flex: 1 100%;
} */
.begin {
	align-items: flex-start;
}
.half {
	flex: 0.5;
}
.single {
	flex: 1;
}
.double {
	flex: 2;
}
.triple {
	flex: 3;
}
.quad {
	flex: 4;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.centre {
	text-align: center;
}


.left-padding {
	padding-left: 2vw;
}
a  {
    text-decoration: none;
    color: black;
}
a:visited {
	color: black;
}
a:hover {
	text-decoration: underline;
}
.logo1 {
	font-size: 1.9em;
}
.logo2 {
	font-size: 1.2em;
	font-family: Kollektif;
}

ul {
	padding-inline-start: 0;
}
ul li {
	list-style: none;	
}
.inline-list li {
	display: inline;
	text-align: center;
	list-style: none;
}
.circle li {
	list-style: circle;
	color: #B6D9EE;
}
.bannerImg {
	width: 80%;
	height: auto;
	opacity: 0.8;
}
.social {
	/* padding-top: 2vh; */
	font-size: 1.2em;
	text-align: center;
	/* margin-right: 5vw;
	margin-left: 5vw; */
}
.social li a {
	padding: 1vh 1vw;
}
#bottom a:hover {
	background-color: white;
	color: #7E3F8F;
}
.social li a:hover {
	background-color: white;
	padding: 1vh 1vw;
	border-radius: 2px;
}
.mainButton {
	background-color: white;
	border: #B6D9EE solid 2px;
	border-radius: 1px;
}
.note {
	padding-left: 2%; 
	padding-right: 2%;
	/* margin: 2%; */
	/* border-radius: 10px; */
	/* border: grey solid 1px; */
	/* width: 70%; */
} 

.small {
	font-size: 0.7em;
}
.page-heading {
	font-weight: bold;
	font-size: 3em;
}

.spreadsheet-school-box {
	margin: 5vh 3vw;
	border: #7E3F8F 5px dashed;
	/* color: white; */
	font-size: 1.2em;
	padding: 2vh 2vw;
	text-align: center;
	border-radius: 5px;
}
.spreadsheet-class h3 {
	font-size: 1.5em;
	z-index: 10;
}
.headshots {
	width: 100%;
	height: auto;
	padding: 5px;
	margin: 5px;
	border-radius: 60%;
}

.headshots-class {
	width: 20vw;
	border: dashed grey 5px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

.home, .spreadsheet-school, .short-sweet{
	height: 110%;
  	min-height: 110% !important;
	background-image: url("img/triangles.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-y: scroll;

	
}
.grey {
	color: gray;
}

/* Contact page */
.contact-side {
	opacity: 0.8;
	width: 100%;
}
.contact-border {
	border: #B6D9EE dashed 3px;
	margin-top: 5vh;
	margin-left: 2vw;
	margin-right: 2vw;
	border-radius: 20px;
}

.flexbox_inner {
	height: 30vh;
	width: 30vh;
	z-index: -1;
}
/* @media only screen and (max-width: 1023px) and (orientation: portrait){
	.bannerImg {
		width: 50%;
	}
} */
#excel-video {
	display: none;
}
.spreadsheet-choice {
	background-color: #7e3f8f;
	display:inline-block;
	padding:0.5em 1.5em;
	margin:0 0.1em 0.1em 0;
	border:0.16em solid rgba(255,255,255,0);
	border-radius:2em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
	opacity: 0.6;
}
.spreadsheet-choice:hover:enabled {
	border-color: rgba(255,255,255,1);
	opacity: 0.9;
}
.spreadsheet-choice:focus {
	text-decoration: underline;
}
button.spreadsheet-choice:disabled {
	/* color: #545454;
	text-decoration: line-through; */
	opacity: 1;
}
@media only screen and (min-width: 1025px) {
	.row-large {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	/* .row-large > * {
		flex: 1 100%;
	} */
	/* .heading {
		position: fixed;
	} */
	/* .top-box {
		margin-top: 13vh;
	}
	.tagline{
		margin-top: 7vh;
	} */
	.begin-large {
		align-items: flex-start;
	}
	.single-big {
		flex: 1;
	}
	.double-big {
		flex: 2;
	}
	.triple-big {
		flex: 3;
	}
	.single-third {
		flex: 1;
		max-width: 31vw;
		min-width: 31vw;
	}
	.large-left {
		justify-content: left;
	}
	.videos-big {
		flex: 1 70%;
	}
	.row-videos {
		flex-wrap: wrap;
	}
	.centredTitle-big {
		text-align: center;
		width: 100vw;
	}
	.big-nav {
		display: flex;
	}
	#small-nav {
		display: none;
	}
	.small-screen, #banner-small, #small-note, .tablet-screen {
		display: none;
	}
	.note {
		padding: 2%; 
		margin: 2%;
		width: 70%;
	}  
	.navbar {
	    display: none;
	}

	.main-nav {
	    display: none;

	}
	.navbar-toggle {
	    display: none;
	}
	.front, .social {
		z-index: 5;
	}
	.back {
		z-index: -5;
	}
	.spreadsheet-class {
		width: 20vw;
		border: dashed grey 5px;
		margin-left: auto;
		margin-right: auto;
		/* margin-top: 10vh; */
		border-radius: 60%;
	}
	.tag-line {
		text-align: left;
		padding-left: 5vw;
	}
	/* .iframe-wrapper {
		padding: 56.25% 0 0 0;
		position: relative;
	}
	
	iframe {
		position: absolute;
		top: 0;
		left: 5vw;
		margin-top: 1px;
		width:80%;
		height:80%;
	} */
	.slider {
		width: 80%;
		text-align: left;
		
	}
	h1.spreadsheets-title {
		font-size: 3vw;
	}
}



@media only screen and (max-width: 1024px){
	
	.col-small {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.col-small > * {
		flex: 1 100%;
	}
	.single-small {
		flex: 1;
	}
	.double-small {
		flex: 2;
	}
	.single-third {
		flex: 1;
	}
	.big-nav {
		display: none;
	}
	#small-nav {
		display: flex;
	}
	.main-nav {
		list-style-type: none;
		display: none;
	}
	.main-nav li {
		text-align: center;
		margin: 2vh auto;
	}
	.navbar-toggle {
		position: absolute;
		right: 7vw;
		cursor: pointer;
		color: grey;
	}
	.big-screen, #banner-large, #big-note{
		display: none;
	}
	.home, .spreadsheet-school, .short-sweet {
		height: 100%;
		min-height: 100% !important;
		max-width: 99vw;  
		background-image: url("img/triangles-small.png");
		background-position: center;
		background-repeat: repeat-y;
		background-size: cover;
		padding-bottom: 5vh; 
		overflow-y: scroll;
	}

	/* Active is the class used by the JavaScript to show and hide the navbar for mobile devices */
	.active {
		display: block;
	}
	/* Allows for the heading and nav bar to be included when ids are used for anchoring to sections */
	a.anchor {
		display: block;
		position: relative;
		top: -250px; /* NEEDS TO BE MADE MORE RESPONSIVE */
		visibility: hidden;
	}
	.spreadsheet-class {
		width: 80vw;
		border: dashed grey 5px;
		margin-left: 6vw;
		margin-right: 6vw;
		margin-top: 2vh;
		border-radius: 50%;
	}
	
	
	h1.up {
		margin-top: -5vh; 
	}

	.social li {
		font: 1.8em;
		margin: 4vh 8vw;
	}
	.tag-line {
		/* margin-top: 25vh;		 */
		font-size: 0.8em;
	}
	/* .iframe-wrapper {
		padding: 0 0 0 0;
		position: relative;
		width: 95vw;
		height: 50vh;

	}
	
	iframe {
		width:100%;
		height:56.25vh;
	} */
	.page-heading  {
		font-size: 2.5em;
	}
	
	
}

@media only screen and (max-width: 1024px) and (min-width: 751px) and (min-height: 900px){
	.big-screen {
		display: none;
	}
	.small-screen {
		display: none;
	}
	img {
		width: 60%;
	}
	
}

@media only screen and (max-width: 1024px) and (max-height: 899px){
	.tablet-screen {
		display: none;
	}
	
}

/* @media only screen and (max-width: 700px){
	iframe {
		height: auto;
		width: 95%;
		margin-top: 1px;
	}
} */
.pink-border {
	border-color: #F9B9F2;
}
.blue-border {
	border-color: #5CC8FF;
}
.yellow-border {
	border-color: #F7DD72;
}

#bottom {
	/* min-height: 20vh; */
	background-color: #7E3F8F;
	color: white;

}

#bottom a {
	color: white;
}

.prices {
	font-weight: bold;
	font-size: 2em;
}


/* Topic Buttons */

button.topic {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #7E3F8F;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:1000;
	text-align:center;
	transition: all 0.2s;
	color:#7E3F8F;
	background-color:#FFFFFF;
}
button.topic:hover {
	color:gray;
	background-color:#FFFFFF;
	border:0.1em solid gray;
}
button.topic:disabled {
	color:gray;
	background-color:#FFFFFF;
	border:0.1em solid gray;
}
@media all and (max-width:30em) {
	 button.topic  {
		display:block;
		margin:0.4em auto;
	}
}
#all {
	margin-left: 3vw;

}
.scroll {
	overflow: auto;
}


/* Spreadsheet School Page Specifics */


/* Slider for Spreadsheet School */
.slider p {
	/* width: 80%; */
	text-align: left;
	
}
.slides {
	min-height: 40vh;
	padding: 1vh 5vw;
	margin: 2vh 2vw;
}
#slide-2, #slide-3 {
	display: none;
}
.slide-buttons {
	font-size: 1.1em;
	background-color: transparent;
	border: none;
	color: gray;
}
#slide-1-button {
	color: #7E3F8F;
}
/* End of Slider */


/* Image of spreadsheet school */
#spreadsheet-school-info-box {
	width: 80%;
	margin: auto;
}

/* Courses section */
.courses {
	border: solid 3px #7E3F8F;
	/* border-bottom: none; */
	margin: 1vh 2vw;
}
.course-titles {
	border: solid 3px #7E3F8F;
	border-bottom: none;
	margin: 1vh 2vw;
}
/* .course-text {
	margin-top: -1vh;
} */


/* Override flexbox style */
.align-end {
	align-items: flex-end;
}
.align-start {
	align-items: flex-start;
}
.justify-left {
	justify-content: left;
}








/* CSS */
.button {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	width: 60%;
	max-width: 400px;
	position: relative;
	cursor: pointer;
	transform: rotate(-2deg);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  .button:hover {
	outline: 0;
  }
  .button:after {
	content: '';
	position: absolute;
	border: 1px dashed #000000;
	color: white;
	bottom: 4px;
	left: 4px;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
  }
  
  .button:hover:after {
	bottom: 2px;
	left: 2px;
  }
  
  @media (min-width: 768px) {
	.button {
	  padding: .75rem 2rem;
	  font-size: 1.25rem;
	}
  }
  @media (max-width: 768px) {
	.button {
		width: 80%;
		margin: auto; 
	}
  }
  .main-button {
	background-color: #7E3F8F;
	border: 0 solid #E5E7EB;
	color: white;
	margin: auto;
  }
  .secondary-button {
	width: 50%;
	background-color: #E5E7EB;
	border: 0 solid #7E3F8F;
	color: #7E3F8F;
	padding: 0.25rem 1rem;
	margin: auto;
  }
  .secondary-button h1, .secondary-button h2,   .secondary-button h3,  .secondary-button h4, .secondary-button p, .secondary-button a {
	color: #7E3F8F;
  }
  .secondary-button:hover {
	color: #7E3F8F;
  }
  .main-button h1, .main-button h2, .main-button h3, .main-button h4, .main-button p, .main-button a {
	color: white;
  }
  .main-button:hover {
	color: white;
  }

  .icon-links {
	position: relative;
	  font-size: 5em;
	  margin-top: auto;
	  margin-bottom: auto;
	  padding: 5vh 5vw;
	  color: #7E3F8F;
	  /* border: 0 solid #7E3F8F; */
	  
	  /* border: solid 2px #7E3F8F; */
  }
  .icon-links:after {
	content: '';
	position: absolute;
	border: 2px dashed #7E3F8F;
	/* transform: rotate(-10deg); */
	/* color: white; */
	bottom: 4px;
	left: 4px;
	width: calc(100% - 1px);
	height: calc(100% - 1px);
  }
  